<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.englishstories">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Other"></activity>
        <activity android:name=".English_pro" />
        <activity android:name=".English" />
        <activity android:name=".Long" />
        <activity android:name=".Education" />
        <activity android:name=".Life" />
        <activity android:name=".Kid" />
        <activity android:name=".Family" />
        <activity android:name=".Pancha" />
        <activity android:name=".Akbar" />
        <activity android:name=".Aladin" />
        <activity android:name=".Bedtime" />
        <activity android:name=".Classic" />
        <activity android:name=".Motivation" />
        <activity android:name=".Inspiration" />
        <activity android:name=".Animal" />
        <activity android:name=".General" />
        <activity android:name=".Moral" />
        <activity android:name=".Full_story" />
        <activity android:name=".Short_stories" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>